.card-body-2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 10px solid lightcoral;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 120px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: bisque;
}

.card-body-2:hover {
    background-color: coral;
    transition-duration: 5s;
}