.header-container nav a {
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


.header-container {
    position: sticky;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: limegreen;
}

.header-container nav a:hover {
    color: rgba(255, 0, 64, 0.815);
}