.blogs-Ans {
    padding-left: 30px;
    padding-right: 30px;
}

.blogs-Ques {
    color: blueviolet;
}

span {
    color: rgb(255, 0, 179);
}

.blogs-container {
    
    margin: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

