.card {
    
    border-radius: 10px;
    text-shadow: 2px 2px 5px red;
    box-shadow: 10px 10px 8px lightblue;
    
}

.card:hover {
    background-color: rgba(15, 171, 199, 0.562);
    transition-duration: 1s;
}

.name {
    color: rgb(20, 220, 70);
    font-size: xx-large;
}

.suppliar {
    color: darkgreen;
    font-size: 20px;
}

.discription {
    color: blue;
    font-size: 20px;
}

.quantity {
    color: rgb(255, 0, 200);
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.price {
    color: blue;
    font-size: 20px;
}

.sold {
    color: rgb(20, 150, 224);
    font-size: 20px;
}

.Delivered-button {
    background-color: rgb(168, 230, 24);
    color: white;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: x-large;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
}

.Delivered-button:hover {
    background-color: brown;
    color: gold;
    border: 5px solid brown;
    transition-duration: 5s;
}