.SignIn-btn {
    margin-top: 30px;
    background-color: brown;
    color: aliceblue;
    font-size: xx-large;
}

.SignIn-btn:hover {
    background-color: deeppink;
    color: burlywood;
    transition-duration: 4s;
}